h1, h3, p, ul, input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1 {
    text-align: center;
    margin-top: 40px;
}
h3 {
    text-align: left;
    margin-top: 40px;
}
p {
    display: inline-block;
    max-width: 700px;
}

body {
    text-align: center;
}

#container {
    display: inline-block;
    text-align: left;
}

#signalsContainer {
    display: flex;
    flex-direction: row;
}
#signalsContainer > div {
    padding: 25px;
}

canvas {
    box-shadow: 0 1px 5px #aaa;
}

.numberInput {
    border-radius: 5px;
    border: 2px solid #f7a;
    font-size: 1em;
    padding: 10px 10px;
    width: 60px;
    outline: none;
}
#numberInput_numberOfSamples {
    margin-left: 10px;
}

button {
    background-color: #e48;
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px #888;
}
button:hover {
    background-color: #f59;
}

#button_clear {
    margin-right: 20px;
    margin-top: 40px;
}

#description {
    color: #222;
}
