body {
    background-color: #eee;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

canvas {
    background-color: white;
    margin-bottom: 10px;
}